@import '../../scss/variables.scss';

.inputContainer {
  position: relative;

  .input {
    width: 100%;
    background-color: $chekedColor;
    outline: none;
    border: 1px solid $inputBorderColor;
    padding: 0px 16px;
    height: 48px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    color: $white;
    transition: 300ms;

    &.error {
      border: 1px solid $redColor;
    }

    &:focus {
      border-color: $violetColor;
    }

    &::placeholder {
      color: $placeholderColor;
      font-size: 16px;
      font-weight: 500;
      font-family: inherit;
    }
  }

  .passwordType {
    padding-right: 40px;
  }

  .label {
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: $white;
    margin-bottom: 8px;
  }

  .eye {
    cursor: pointer;
    opacity: 0.8;
    position: absolute;
    right: 10px;
    top: 37px;
    transition: 300ms;

    &:hover {
      opacity: 1;
    }

    svg {
      path {
        stroke: $grayColor;
      }
    }
  }
}

.errorMsg {
  color: $redColor;
  font-size: 14px;
  margin-top: 4px;
  margin-left: 4px;
}
