.button {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  padding: 12px;
  transition: 300ms;

  &:active {
    opacity: 0.6;
  }

  &.color_ {
    &mint {
      background-color: #2bcbf1;
    }
  }
}
