.switchContainer {
  display: flex;
  gap: 7px;

  label {
    font-size: 16px;
    color: #84818a;
    cursor: pointer;
  }
}

.switch {
  background-color: #1e1c33;
  border-radius: 200px;
  width: 36px;
  position: relative;
  height: 20px;
  cursor: pointer;

  &::after {
    content: '';
    width: 16px;
    height: 16px;
    position: absolute;
    left: 2px;
    top: 2px;
    background-color: #2bcbf1;
    border-radius: 200px;
    transition: 300ms;
  }
}

.checked {
  &::after {
    left: 18px;
  }
}
