@import '../../scss/variables.scss';

.chip {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 12px;
  font-weight: 600;
  font-size: 12px;
  color: $white;
  border-radius: 8px;
  cursor: pointer;

  &.color_ {
    &violet {
      background-color: $violetColor;
    }
    &mint {
      background-color: $mintColor;
    }
    &red {
      background-color: $lightRedColor;
    }
  }
}
