.container {
  width: 1100px;

  table {
    width: 100%;
    background-color: #0c0b14;
    border: 1px solid #1e1c33;
    border-collapse: collapse;

    thead {
      background-color: #1e1c33;
    }

    th {
      font-size: 14px;
      font-weight: 600;
      color: #84818a;
      padding: 5px 30px;
    }

    th,
    td {
      text-align: left;
    }

    tr {
      border: 1px solid #1e1c33;
      border-collapse: collapse;
    }

    td {
      padding: 24px 30px;
    }
  }
}

.span {
  gap: 5px;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}

.chip {
  height: 24px;
  width: 75px;
}

.button {
  height: 32px;
  width: 190px;
  padding: 12px 24px;

  &Active {
    height: 32px;
    width: 120px;
    padding: 12px 24px;
  }
}

.actions {
  display: flex;
  gap: 8px;
}
