$white: #fff;
$violetColor: #622efe;
$grayColor: #84818a;
$darkBlueColor: #0c0b14;
$lightRedColor: #fd0200;
$redColor: #d32f2f;
$mintColor: #2bcbf1;
$disabledButtonColor: #e4e4e433;
$darkButtonColor: #3d3b46;
$darkTextColor: #37363e;
$backgroundColor: #1e1c33;
$chekedColor: #110f1c;
$headerBackgroundCOlor: #0a0911;
$dividerLigntColor: #979797;
$dividerDarkColor: #97979700;

$inputBorderColor: #3a3843;
$placeholderColor: #575965;
$menuItemColor: #35333d;
$menuItemHoverColor: #26233e;

$menuItemLabelColor: #777e90;
